In [ ]:
import pandas as pd
df = pd.read_csv("titanic.csv")

#快速預覽資料（進入 GroupBy 前的暖身）

df.head()
df.info()
df.describe()
df.isnull().sum()

In [ ]:
#各艙等平均年齡、各艙等平均存活率
#重新命名欄位,要注意原始欄位大小寫，否則會出現KeyError

df.groupby('pclass').agg(
    mean_age=('age', 'mean'),
    survival_rate=('survived', 'mean')
)

In [ ]:
#各艙等的平均年齡、年齡標準差，以及存活率
#練習多層聚合，改進輸出結果可讀性

df.groupby('pclass').agg(
    mean_age=("age", "mean"),
    std_age=("age", "std"),
    survival_rate=("survived", "mean"))

In [ ]:
#用樞紐表一次同時比較兩個分類變數對某個數值變數的影響，快速呈現分組之間的交互結果。
# 1. 匯入函式
import pandas as pd

# 2. 建立 pivot table
pivot = df.pivot_table(
    index= 'sex',
    columns='pclass',
    values='age',
    aggfunc='median'
)

# 3. 顯示結果
pivot

In [ ]:
#交叉分析存活率 & 排序篩選
# 1. 交叉計算存活率
pivot_sr = df.pivot_table(
    index='sex',
    columns='pclass',
    values='survived',
    aggfunc='mean'
)

# 2. 轉成長表方便排序
sr_long = pivot_sr.stack()  # 欄索引（pclass＝1、2、3）變成第二層行索引

# 3. 排序
sr_sorted = sr_long.sort_values(ascending=False) #由大到小排序

# 4. 看最前面（最高）和最後面（最低）幾筆
highest = sr_sorted.head(1)
lowest  = sr_sorted.tail(1)

pivot_sr

In [ ]:
#匯入並預覽 flights 資料

import pandas as pd
df_f = pd.read_csv("flights.csv")
df_f.head()
df_f.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 144 entries, 0 to 143
Data columns (total 3 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   year        144 non-null    int64
 1   month       144 non-null    object
 2   passengers  144 non-null    int64
dtypes: int64(2), object(1)
memory usage: 3.5+ KB

In [ ]:
#建立 DatetimeIndex
#設計合成日期字串(年-月-日)
year_str = df_f['year'].astype(str)                 #year轉成字串
date_str = year_str + '-' + df_f['month'] + '-01'   #連成日期字串
df_f['date_str'] = date_str                         #新增date_str欄位
df_f['date'] = pd.to_datetime(df_f['date_str'])     #字串轉成Datetime
df_f = df_f.set_index('date')                       #設為索引
df_f.head()

            year     month  passengers          date_str
date
1949-01-01  1949   January         112   1949-January-01
1949-02-01  1949  February         118  1949-February-01
1949-03-01  1949     March         132     1949-March-01
1949-04-01  1949     April         129     1949-April-01
1949-05-01  1949       May         121       1949-May-01